REACT_APP_CALL_AUTHORITY='https://{domain}.b2clogin.com/tfp/{domain}.onmicrosoft.com/{userflow name}'
REACT_APP_CLIENT_ID='Application ID in Applications in AD B2C'
REACT_APP_REDIRECT_URI='http://localhost:3000'